<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyh.easyapplyresume.mapper.user.ChatMessageMapper">
    <select id="selectLastNByConversationId" resultType="com.zyh.easyapplyresume.model.pojo.user.ChatMessage">
        select * from user_chatMessage
        where chatMessage_conversationId = #{conversationId}<!-- 直接用注解名 -->
        order by chatMessage_createdTime desc
        limit #{lastN}<!-- 直接用注解名 -->
    </select>
</mapper>